
.folder-info > div {
    background-color: rgb(240, 246, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0 60px;
}

.folder-info > div > span {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}

.content-wrap {
    max-width: 1060px;
    margin: 40px auto;
}

@media screen and (max-width: 1124px) {
    .content-wrap {
        padding: 0 32px;
    }
}


